.file-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-100);
  padding: 10px;
  height: 150px;
  z-index: 1000;

  .file-menu-item {
    width: 150px;
    height: 30px;
    background: var(--secondary-100);
    color: var(--text-900);
    border: none;
    border-bottom: 1px solid var(--secondary-300);
    padding: 6px 8px;
    text-align: left;
    cursor: pointer;
  }
}