:root {
    --blue: #32AAEC;
    --accent-dark: #113659;
    --accent-green: #00596C;
    --accent-pink: #BC26BB;
    --blue-dark: #0F1E3A;
    --white: #FFFFFF;
    --background-dark: #292A2F;
    --grey: #C8C8C8;
    --stroke-grey: #E5E5E5;
    --sidebar-dark: #252629;
    --stroke-dark: #363738;
    --bar-dark: #202122;
}
